
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlogLabel" data-translate="blogApp.blog.home.createOrEditLabel">Create or edit a Blog</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.blog.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.blog.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blogApp.blog.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.blog.name"
                    required ng-minlength="3" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="blogApp.blog.handle" for="field_handle">Handle</label>
            <input type="text" class="form-control" name="handle" id="field_handle"
                    ng-model="vm.blog.handle"
                    required ng-minlength="2" />
            <div ng-show="editForm.handle.$invalid">
                <p class="help-block"
                    ng-show="editForm.handle.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.handle.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="blogApp.blog.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.blog.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
