*, ::before, ::after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

#present iframe, #future iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: 1px solid #ddd;
  pointer-events: none;
}

#present, #future {
  position: absolute;
  top: 0;
  padding: 6px;
}

#present {
  width: 65%;
  height: 100%;
  left: 0;
  padding-right: 0;
}

#future {
  right: 0;
  height: 40%;
  width: 35%;
  padding-bottom: 0;
}

#slideidx,
#nextslideidx {
  color: #fff;
  /*background: rgba(136,136,136,0.75);*/
  background: #656565;
  font-weight: bold;
  height: 25px;
  width: 50px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

#slideidx {
  cursor: pointer;
  bottom: 6px;
  right: 35%;
  border-radius: 8px 0 0 0;
}

#nextslideidx {
  bottom: 60%;
  right: 6px;
  border-radius: 8px 0 0 0;
}

#slidecount {
  display: none;
}

#notes {
  position: absolute;
  top: 40%;
  right: 0;
  width: 35%;
  height: 50%;
  overflow: auto;
  font-size: 18px;
  padding: 6px;
}

#notes #content {
  color: #444;
  margin: 0 10px;
  line-height: 1.4;
  font-size: 1.2em;
}

#notes #content p {
  margin: 0 0 1em 0;
}

#time {
  bottom: 0;
  right: 0;
  /*height: 10%;*/
  width: 35%;
  position: absolute;
  padding: 0 6px;
  font-size: 2em;
}

#clock {
  float: left;
  margin-left: 10px;
}

#timer {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#time::before,
#notes::before {
  content: attr(id);
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #666;
  display: block;
  padding: 10px 10px 5px 10px;
}

#time::before {
  border-top: 1px solid rgba(200,200,200,0.5);
}

#popup-button {
  background-color: #656565;
  color: #fff;
  border: none;
  /*
  border-radius: 3px;
  right: 16px;
  padding: 4px 4px 2px 4px;
  */
  border-radius: 5px 0 5px 0;
  right: 6px;
  padding: 4px 6px 2px 6px;
  font-size: 0.75em;
  position: absolute;
  top: 40%;
  margin-top: 12px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
}
