$slide-width = 640px
$slide-height = 360px

@page
  size $slide-width $slide-height+1px
  margin 0
  border 0

@media print
  .bespoke-slide
    opacity 1
    position relative
    top inherit
    bottom inherit
    left inherit
    right inherit
    margin inherit
    zoom 1 !important

  .bespoke-parent
    position relative
    top inherit
    bottom inherit
    left inherit
    right inherit
    margin inherit

  .bespoke-bullet-inactive
    visibility visible
